body {
	background-image: url('../img/meow-2.jpg');
	color: rgba(255, 255, 255, 1);
	font: 26pt "Rockwell", "Rochebon", "courier", sans-serif;
	text-rendering: optimizeLegibility;
}

h1 {
	position: fixed;
	top: 50px;
	right: 50px;
	text-align: right;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}