/*
  .oooooo.   oooo                           oooo                    
 d8P'  `Y8b  `888                           `888                    
888           888 .oo.    .oooo.   oooo d8b  888   .ooooo.   .oooo.o  
888           888P"Y88b  `P  )88b  `888""8P  888  d88' `88b d88(  "8  
888           888   888   .oP"888   888      888  888ooo888 `"Y88b.  
`88b    ooo   888   888  d8(  888   888      888  888    .o o.  )88b   
 `Y8bood8P'  o888o o888o `Y888""8o d888b    o888o `Y8bod8P' 8""888P'
*/

body {
	background-image: url('../img/tex-bg-body.png');
	color: rgba(0, 0, 0, 0.3);
	font: 18pt "Rockwell", "Rochebon", "courier", sans-serif;
	text-shadow: 1px 1px 1px #ffffff;
}

span { font-size: 24pt; }

#content {
	max-width: 780px;
	margin: 0 auto;
}

#section-break {
	width: 65px;
	height: 30px;
	background-image: url('../img/glyph-section-break.png');
	margin: 20px auto;
}

#hr {
	width: 70%;
	height: 2px;
	background-image: url('../img/glyph-hr.png');
	opacity: 0.4;
	margin: 20px auto;
}
/*=========================================================*/
#header .inner { margin: 30px 0px 30px 30px; }
#header .inner img {
	float: left;
	margin-right: 18pt;
	display: block;
	-webkit-border-radius: 3px;
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);	
}
#header .inner #img {
	float: left;
	position: relative;
	left: 80px;
	width: 80px;
	height: 76px;
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	border-bottom: 3px solid rgba(0, 0, 0, 0.5);
	-webkit-border-radius: 3px;
}

#header .inner span#greeting { color: #74a9d9; }
#header .inner span#name { color: #f4632b; }
/*=========================================================*/
#main {
	background-image: url('../img/tex-bg-main.png');
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	border-bottom: 2px solid rgba(0, 0, 0, 0.1);
	color: rgba(0, 0, 0, 0.3);
	text-align: center;
	-webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.35);
	-webkit-border-radius: 5px;
}
#main .inner { margin: 50px; }
#main .inner span { font-size: 22pt; }
#main .inner span#concordia { color:  #922338; }
#main .inner span#mcgill { color: #dc2420; }
#main .inner span#amber { font-size: 50pt; opacity: 0.2; }

#main .inner img#montreal { padding-bottom: 10px; }
#main .inner img#forker { padding-bottom: 10px; }
#main .inner img#photographer { padding-bottom: 5px; }
#main .inner img#drafted { padding-bottom: 5px; }
#main .inner img#lurk { padding-bottom: 12px; }
#main .inner img#tweet { padding-bottom: 9px; }

#main .inner span#travel { font-size: 14pt; }
/*=========================================================*/
#footer { padding-bottom: 15px; }
#footer .inner { text-align: center; }
#footer a img { opacity: 0.4; }
#footer a img:hover { opacity: 0.8; }
#footer p { font-family: Helvetica; font-size: 10px; }
#footer #hr { margin: 5px auto; }

@font-face { font-family: Rochebon; src: url('../type/Rochebon.eot'); src: url('../type/Rochebon.ttf') format('truetype'); }